.button {
  height: 50px;
  padding-inline: 1rem;
  border-radius: 5px;
  border: 2px solid;
  font: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  width: 100%;
  letter-spacing: 1px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button--primary {
  background: $accent;
  color: #ffffff;
  border: $accent;
}

.button--outlined {
  background-color: transparent;
  border: $primary;
  color: $primary;
}

.button--ghost {
  background: transparent;
  border: transparent;
  color: $accent;
}
