$px: 30px;
$py: 14px;

.dashboard--sidebar {
  grid-area: sidebar;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  overflow-y: scroll;
  scrollbar-width: thin;

  > *:not(:last-child) {
    margin-bottom: 8px;
  }

  anchor-name: --toggle-button;
}

.dashboard--sidebar .toggle-button {
  @extend %flex-center;

  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  position-anchor: --toggle-button;
  top: anchor(top);
  right: anchor(right);
  transform: translate(50%, 50%);
  background: $primary;
  color: #ffffff;
  z-index: 10;
}

.organization button {
  @extend %items-center;
  gap: 8px;
  background: transparent;
  border: none;
  color: $primary;
  cursor: pointer;
  padding-inline: $px;
  padding-block: $py;
  width: 100%;
}

.dashboard--link {
  @extend %items-center;
  gap: 8px;
  padding-inline: $px;
  padding-block: $py;
  background: transparent;
  text-decoration: none;
  color: $primary;
  opacity: 0.7;
}

.dashboard--link-active {
  opacity: 1;
  position: relative;
  isolation: isolate;

  &::before {
    position: absolute;
    content: '';
    background: $accent;
    inset: 0;
    z-index: -10;
    opacity: 0.1;
  }

  &::after {
    position: absolute;
    content: '';
    background: $accent;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
  }
}

.sidebar--group-label {
  padding-inline: $px;
  padding-block: 10px;
  color: $primary;
  font-size: 1rem;
  font-weight: 500;
}

.show-icon {
  display: none;
}

.sidebar-footer {
  margin-top: 16px;
  border-top: 1px solid rgba(33, 63, 125, 0.1);
}
