.user-detail-page > header {
  > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;
  }
}

.return-button > a {
  height: 30px;
  width: fit-content;
  color: $primary;
  display: flex;
  align-items: center;
  gap: 8px;
}

.action-button {
  display: flex;
  gap: 20px;

  button {
    height: 40px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
  }

  > button:first-of-type {
    border-color: rgba(228, 3, 59, 1);
    color: rgba(228, 3, 59, 1);
  }

  > button:last-of-type {
    border-color: rgba(57, 205, 204, 1);
    color: rgba(57, 205, 204, 1);
  }
}
