%user-page-box {
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.users-page > *:not(:last-child) {
  margin-bottom: 40px;
}

.users-page h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: $primary;
}

.users-page--summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.users-page--summary > div {
  @extend %user-page-box;

  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 30px;
}

.summary > span {
  color: $primary;
  line-height: 1;
}

.summary .summary--name {
  text-transform: uppercase;
  font-weight: 500;
}

.summary .summary--value {
  font-size: 1.5rem;
  font-weight: 600;
}

.users-page--table {
  @extend %user-page-box;
  padding-inline: 30px;
  overflow-x: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    anchor-name: --filter-anchor;
  }

  th,
  td {
    text-align: start;
    color: $primary;
    padding-block: 20px;
  }

  th {
    font-weight: 600;
  }

  tbody tr:not(:last-child) {
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  }
}

thead .table-head {
  @extend %items-center;
  gap: 8px;

  button {
    @extend %flex-center;
    color: $primary;
  }
}

[class^='status-'] {
  padding: 8px 14px;
  border-radius: 100px;
  text-align: center;
  text-transform: capitalize;
}

.status-active {
  background-color: rgba(84, 95, 125, 0.1);
  color: rgba(84, 95, 125, 1);
}

.status-blacklisted {
  background-color: rgba(228, 3, 59, 0.1);
  color: rgba(228, 3, 59, 1);
}

.status-pending {
  background-color: rgba(233, 178, 0, 0.1);
  color: rgba(233, 178, 0, 1);
}

.pagination-container {
  @extend %items-center;
  justify-content: space-between;
  color: $primary;
  margin-top: 20px;
  gap: 16px;

  .current-count {
    @extend %items-center;
    gap: 10px;

    span {
      @extend %flex-center;
      gap: 18px;
      height: 30px;
      width: 100px;
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 860px) {
  .users-page--summary {
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .users-page--summary {
    grid-template-columns: 1fr;
  }
}
